<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/main.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/style/prism.css">
    <title><%= post.title %></title>
  </head>
  <body>
    <main>
      <header>
        <a class="back" href="/">&larr; <%= $config.title %></a>
        <h1><%= post.title %></h1>
        <div class="meta">
          <small><%= post.date %> by <%= post.author %></small>
        </div>
        <h3><%= post.subtitle %></h3>
      </header>
      <article class="contents">
        <%= Markdown.to_html post.content %>
      </article>
    </main>
    <script src="/script/prism.js"></script>
  </body>
</html>
